body {
  margin: 0;
}

.body {
  background-image: url('record.png');
  background-repeat: repeat;
}

.main {
  background-color: #d6d6d6;
  padding: 1em;
}

.header {
    background-color: #220a3b;
    color: #e434bd;
    text-align: center;
}
