body {
  background-image: url('record.png');
  background-repeat: repeat;
  margin: 0;
}

main {
  background-color: #d6d6d6;
  padding: 1em;
}

.header-style {
    background-color: #220a3b;
    color: #e434bd;
    text-align: center;
}
